/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap/scss/bootstrap";

 body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

 .navbar {
   align-items: center;
   background-color: #F8F8F8;
   display: flex;
   gap: 2rem;
   height: 10vh;
   justify-content: flex-end;
   width: 100%;
   padding: 0 100px 0 0;
   margin: 0 0 40px 0;
  }
  .navbar__item {
    color: #333333;
    border: 1px solid black;
    border-radius: 10px;
    padding: .5rem;
    text-decoration: none;
    list-style-type: none;
   }

   .navbar__item:hover {
     background-color: #333333;
     color: #fff;
     text-decoration: none;
   }

   .navbar__item:last-child {
     margin-right: 2rem;
   }

   .titulo {
     color: #333333;
   }

.articles {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
